name: publish
on: [workflow_dispatch] # Manual trigger

jobs:
  publish:
    if: github.repository_owner == 'ViaVersion'
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
         distribution: 'temurin'
         java-version: 17
         check-latest: true
      - name: Build and Publish
        env:
          CURSEFORGE_API_KEY: ${{ secrets.CREEPER_CF }}
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
        run: ./gradlew curseforge modrinth
