name: Publish to CurseForge and Modrinth
on: [workflow_dispatch] # Manual trigger

jobs:
  publish:
    if: github.repository_owner == 'ViaVersion'
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          check-latest: true
      - name: Build and Publish
        env:
          CURSEFORGE_TOKEN: ${{ secrets.CREEPER_CF }}
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
        run: ./gradlew publishMods
