name: Publish to CurseForge and Modrinth
on: [workflow_dispatch] # Manual trigger

jobs:
  publish:
    if: github.repository_owner == 'ViaVersion'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
         distribution: 'temurin'
         java-version: 21
         check-latest: true
      - name: Build and Publish
        env:
          CURSEFORGE_API_KEY: ${{ secrets.CREEPER_CF }}
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
        run: ./gradlew curseforge modrinth
